* {
font-family:Arial ,Arial, Helvetica, sans-serif;
font: size 16px;

}

body{
    background-color: rgba(137, 43, 226, 0.5);

}

main {
    background-color:white;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3 px rgba(0, 0, 0, 0.596);
}